/Bispo.class
/Cavalo.class
/Cor.class
/EstadoJogo.class
/Peao.class
/Peca.class
/Rainha.class
/Rei.class
/Tabuleiro$TabuleiroSingletonHolder.class
/Tabuleiro.class
/TipoPeca.class
/Torre.class
/Xadrez.class
/TipoNavio.class
