/MovimentoInvalidoException.class
/PecaNaoPertenceAoJogadorException.class
/NaoHaMovimentosValidosException.class
/ClicouNoMeioDoNadaException.class
/ConexaoAindaNaoEstabelecidaException.class
/BotaoNaoTemListenerException.class
/JogoJaAcabouException.class
/NaoEstaNaVezDoJogadorException.class
