/Peer.class
/NetworkManager.class
/GerenciadorDeRede.class
/GerenciadorDeRede$ReceptorDeConexoes.class
/Interlocutor.class
/Interlocutor$escutadorDeMensagens.class
/Interlocutor$EscutadorDeMensagens.class
/Mensagem.class
/GerenciadorDeRede$EmissorDeConexoes.class
